.inputBox {
  input {
    margin-top: 11px;
    margin-bottom: 11px;
    max-width: 700px;
    width: 100%;
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.5);
    padding: 25px 22px;
    height: 2.5rem;
    border-radius: 4px;
    background-color: var(--gray);
    border: 1px solid var(--gray);
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
